.search-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-form {
    width: 40%;
}

.search-input {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #444444;
    color: white;
    font-size: 3rem;
    font-family: Helvetica;
    text-align: center;
}

.search-input:focus {
    outline: none;
    border-bottom: 2px solid #777777;
}

.search-note {
    color: #444444;
    font-family: Helvetica;
}