.linkspanel {
    position: absolute;
    width: 55%;
    height: 50%;
    top: 25%;
    left: 22.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkspanel-panel {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2.5rem;    
    width: 100%;
    list-style-type: none;
    padding: 0;
}

@media (max-width: 1200px) {
    .linkspanel-panel {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .linkspanel-panel {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .linkspanel-panel {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 576px) {
    .linkspanel-panel {
        grid-template-columns: repeat(3, 1fr);
    }
}